<h1>Listing contracts</h1>

<table>
  <tr>
    <th>Org</th>
    <th>1ccode</th>
    <th>Number</th>
    <th>Date</th>
    <th>Doc</th>
    <th>Desc</th>
    <th>Summ</th>
    <th>Avans</th>
    <th>Gk date1</th>
    <th>Gk date2</th>
    <th>Employee</th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%=h contract.org_id %></td>
    <td><%=h contract.1ccode %></td>
    <td><%=h contract.number %></td>
    <td><%=h contract.date %></td>
    <td><%=h contract.doc %></td>
    <td><%=h contract.desc %></td>
    <td><%=h contract.summ %></td>
    <td><%=h contract.avans %></td>
    <td><%=h contract.gk_date1 %></td>
    <td><%=h contract.gk_date2 %></td>
    <td><%=h contract.employee_id %></td>
    <td><%= link_to 'Show', contract %></td>
    <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
    <td><%= link_to 'Destroy', contract, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New contract', new_contract_path %>