<h1>New contract</h1>

<% form_for(@contract) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :org_id %><br />
    <%= f.text_field :org_id %>
  </p>
  <p>
    <%= f.label :1ccode %><br />
    <%= f.text_field :1ccode %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :doc %><br />
    <%= f.text_field :doc %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </p>
  <p>
    <%= f.label :summ %><br />
    <%= f.text_field :summ %>
  </p>
  <p>
    <%= f.label :avans %><br />
    <%= f.text_field :avans %>
  </p>
  <p>
    <%= f.label :gk_date1 %><br />
    <%= f.date_select :gk_date1 %>
  </p>
  <p>
    <%= f.label :gk_date2 %><br />
    <%= f.date_select :gk_date2 %>
  </p>
  <p>
    <%= f.label :employee_id %><br />
    <%= f.text_field :employee_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contracts_path %>