<p>
  <b>Org:</b>
  <%=h @contract.org_id %>
</p>

<p>
  <b>1ccode:</b>
  <%=h @contract.1ccode %>
</p>

<p>
  <b>Number:</b>
  <%=h @contract.number %>
</p>

<p>
  <b>Date:</b>
  <%=h @contract.date %>
</p>

<p>
  <b>Doc:</b>
  <%=h @contract.doc %>
</p>

<p>
  <b>Desc:</b>
  <%=h @contract.desc %>
</p>

<p>
  <b>Summ:</b>
  <%=h @contract.summ %>
</p>

<p>
  <b>Avans:</b>
  <%=h @contract.avans %>
</p>

<p>
  <b>Gk date1:</b>
  <%=h @contract.gk_date1 %>
</p>

<p>
  <b>Gk date2:</b>
  <%=h @contract.gk_date2 %>
</p>

<p>
  <b>Employee:</b>
  <%=h @contract.employee_id %>
</p>


<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>