<table>
<tr>
  <td><b>Name</b>:</td>
  <td><%=h @user.name %></td>
</tr>

<%for message in @user.messages%>
<tr>
	<td> <%=h message.title%> </td>
 <td> <%=h message.created_at%> </td>
 </tr>
<%end%>


<tr><td><%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %></td></tr>
</table>