<p>
  <b>Number:</b>
  <%=h @order.number %>
</p>

<p>
  <b>Date:</b>
  <%=h @order.date %>
</p>

<p>
  <b>Intnumber:</b>
  <%=h @order.intnumber %>
</p>

<p>
  <b>Desc:</b>
  <%=h @order.desc %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>