<h1>Listing commendants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Cell</th>
    <th>Org</th>
  </tr>

<% @commendants.each do |commendant| %>
  <tr>
    <td><%=h commendant.name %></td>
    <td><%=h commendant.phone %></td>
    <td><%=h commendant.cell %></td>
    <td><%=h commendant.org_id %></td>
    <td><%= link_to 'Show', commendant %></td>
    <td><%= link_to 'Edit', edit_commendant_path(commendant) %></td>
    <td><%= link_to 'Destroy', commendant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New commendant', new_commendant_path %>