<table>
<tr><td>Откуда поступило</td><td><%= @message.agent.name %></td></tr>
<tr><td>Дата получения</td><td><%= "#{@message.obtain_at} (3-1-09/#{@message.int_number})"  %></td></tr>
<tr><td>Кому направлено</td><td><%= @message.executor_id%></td></tr>
<tr><td>Наименование структурного подразделения</td><td><%= @message.executor_id%></td></tr>
<tr><td>Краткое содержание</td><td><%= @message.subject%></td></tr>
<tr><td>Содержание</td><td>Документ</td></tr>




<%counter = 1%>
<%for card in @cards%>

<tr><td><%=counter%></td><td><%=card.status%></td><td><%= link_to 'Edit', edit_card_path(card) %></td></tr>

<%counter += 1%>
<%end%>
<% form_for(@message.cards.new) do |f| %>
<tr><td>
    <%= f.text_field :status %>
	<%= f.hidden_field :message_id%>
  <td/>
     <%= f.file_field :upload%>
     <%= f.submit 'Create' %>
</tr>
<% end %>
</table>
<%= link_to "Новая запись", :controller => "cards", :action => "new", :id => @message %>

